body {
  overflow-y: hidden !important;
}

#recruitment {
  background-color: #000000;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

div {
  color: #4e0000;
  font-size: large;
  padding: 0px !important;
  margin-bottom: 0px !important;
}

span {
  background-color: red !important;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

video {
  width: 50%;
  height: auto;
  max-width: 800px;
  border: 2px solid white;
  border-radius: 10px;
}
