<div id="container">
  <nav id="sidebar">
    <img Src="OblivionForgeLogoNew.png" alt="Oblivion Forge Logo" class=center id="logo">

    @for (item of menu; track item) {
      <h2>{{ item.mainTitle }}</h2>
      @for (sub of item.subTitles; track sub) {
        <a [href]="sub.link" target="_blank"> {{ sub.title }}</a>
      }
    }
  </nav>
  <main>
    <header id="banner">
      <h1>Welcome to Oblivion Forge</h1>
      <p>
        Step into a world where we are dedicated to unveiling innovative dimensions and groundbreaking ideas in the realm of gaming,
        redefining what it means to engage with narratives and experiences.
      </p>
    </header>
    <section id="about">
      <h2>About Us</h2>
      <p>
        At Oblivion Forge, we are a passionate and driven game development studio focused on creating immersive experiences that combine
        intricate stories, compelling gameplay, and unforgettable characters. Our projects, like the highly anticipated <strong>Inner Convergence</strong>,
        challenge traditional gaming norms, offering unique journeys into realms of deep psychological and narrative intrigue.
      </p>
    </section>
    <section id="game">
      <h2>Inner Convergence</h2>
      <p>
        <strong>Inner Convergence</strong> is more than a mere game; it’s a transformative journey where players are invited to unravel
        the layers of a dark and mysterious narrative. Dive into a world where a cursed game unearthed from obscurity takes center stage,
        blurring the lines between what is digital and what is real in an unsettling, yet enthralling way.
      </p>
      <h3>Key Features:</h3>
      <ul>
        <li>
          Immerse yourself in an interactive narrative experience where every choice you make significantly shapes the outcomes
          and determines the direction of the story.
        </li>
        <li>
          Enjoy uniquely designed chess gameplay mechanics infused with eerie, haunting elements that heighten tension and engagement.
        </li>
        <li>
          Interact with deeply detailed, AI-driven characters who each have rich and mysterious backstories that enhance immersion.
        </li>
      </ul>
    </section>
    <section id="latest-news">
      <h2>Latest News</h2>
      <div class="news">
        <h3>Inner Convergence Announced!</h3>
        <p>
          We are absolutely ecstatic to announce that <strong>Inner Convergence</strong>, our most ambitious project to date, is nearing its grand launch.
          Stay tuned for more updates and exclusive insights as we approach this thrilling milestone in gaming innovation!
        </p>
      </div>
    </section>
    <section id="teaser">
      <h2>Game Teaser</h2>
      <p>Explore the unsettling world of Inner Convergence.</p>
    </section>
  </main>
</div>
<footer class="footer">
  <p>© 2000 OblivionForge. All rights reserved.</p>
</footer>
