<div class="container">
  <header class="header x">
    <div class="logo">OblivionForge.com</div>
    <div class="header-links">
      <a class="x" href="pass/page" target="_blank" rel="noopener noreferrer">Enter Password</a>
    </div>
  </header>

  <nav class="navigation">
    <ul>
      <li>Home Page</li>
      <li>Internet</li>
      <li>International</li>
      <li>Weather</li>
      <li>Business</li>
      <li>Sports</li>
      <li>Politics</li>
      <li>Law</li>
      <li>Technology</li>
    </ul>
  </nav>

  <main class="main">
    <div class="left-column">
      <h2 class="headline">U.S. considers options to Election Day delay</h2>
      <img class="headline-img" src="oro.jpg" alt="Election">
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore eligendi eos non, porro provident
        ullam! A animi dolores eligendi est ex fugiat in obcaecati placeat quam repudiandae, saepe sit?
      </p>
      <ul class="extra-links">
        <li>Video: Lorem ipsum dolor sit amet.</li>
        <li>Special report: Lorem ipsum dolor sit amet.</li>
        <li>Special Report: Lorem ipsum dolor sit amet.</li>
      </ul>
    </div>

    <aside class="right-column">
      <h3>More Top Stories</h3>
      <ul class="top-stories">
        <li>Confusion over Filipino hostage deadline</li>
        <li>Pentagon's prewar intelligence role questioned</li>
        <li>Israeli barrier construction to continue</li>
        <li>Ron Reagan to address Democratic Convention</li>
        <li>Wanted: An accordionist to join the U.S. Air Force</li>
      </ul>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
      <h3>TV</h3>
      <p>American Morning (7 a.m. ET)</p>
    </aside>
  </main>

  <footer class="footer">
    <p>&copy; 2004 Interactive</p>
  </footer>
</div>
