<div class="email-container">
  <table class="email-table" cellpadding="10" cellspacing="0" border="1">
    <tr>
      <td colspan="2"><strong>From:</strong> Genesis Project Manager</td>
    </tr>
    <tr>
      <td colspan="2"><strong>To:</strong> All faculty members at Genesis</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Subject:</strong> To all faculty members at Genesis</td>
    </tr>
    <tr>
      <td colspan="2">
        <p>Hello Everyone,</p>
        <p>Thank you for your hard work on our new game Inner Convergence, now we want to
          sssssssssssssssssssssssssssss</p>
        <p>Unfortunately, there are some problems with the program and it needs to be fixed so we can announce and
          release the project.</p>
        <p>All faculty members should follow this link to get the latest info about the project <a href="#">Info
          Page</a> as well as this link for the newest article about our project <a href="#">Inner Convergence</a> for
          some expectations on the public opinion.</p>
        <p>If there are no problems, contact me at __________.</p>
        <p>Best Regards,<br>Genesis Project Manager</p>
      </td>
    </tr>
  </table>
</div>
