
.email-container {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: black !important;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.email-table {
  max-width: 800px;
  min-width: 300px;
  width: 100%;
  padding: 30px;
  background: linear-gradient(to bottom, #f0f0f0, #e0e0e0) !important;
}
